<div id="favOuter">
  <div id="favStandings">
    <div class="page-header">
      <h3 class='centerheader favHeader'>Projected Standings ROS</h3>
    </div>
    <%= render 'teams/favorite_standings_table' %>
    <div id="buttonContainer">
      <%= button_to 'Analyze Trade', 
        new_league_trade_path(@team.league), 
        method: :get,
        class: 'btn btn-danger btn-lg btn-block tradeButton' %>
    </div>
  </div>

  <div id="favTeamContainer">
    <%= render 'teams/favorite_team_table' %>
  </div>
  <div id="syncManager" data-sync-team="<%= @team.league.sync_now? %>" 
                        data-league="<%= @team.league.id %>" 
                        data-sync-success="<%= @sync_success %>">
  </div>
</div>
