<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div id="favOuter">
  <div id="favStandings">
    <div class="page-header fav-header standings-header">
      <div id="buttonContainer">
        <%= button_to 'Create a Trade', 
          new_league_trade_path(@team.league), 
          method: :get,
          class: 'btn btn-danger btn-lg btn-block tradeButton' %>
      </div>
    </div>
    <h3 class='centerheader favHeader team-header'>Projected Standings ROS</h3>
    <%= render 'teams/favorite_standings_table' %>
  </div>

  <div id="favTeamContainer">
    <%= render 'teams/favorite_team_table' %>
  </div>
  <div id="syncManager" data-sync-team="<%= @team.league.sync_now? %>" 
                        data-league="<%= @team.league.id %>" 
                        data-team="<%= @team.id %>"
                        data-sync-success="<%= @sync_success %>">
  </div>
</div>
