<div class="page-header">
  <div class="innerFavContainer teamInner">
    <div id="btn-toolbar" class="btn-toolbar pull-right">
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-success" id="statusButton">
          <%= fa_icon 'check' %> Ready 
        </button>
        <button type="button" class="btn btn-default" id="refreshButton">
          <%= fa_icon 'refresh' %>
        </button>

        <% if @team.user.favorite_team == @team.id %>
          <button type="button" class="btn btn-default fav-tooltip" 
            data-toggle='tooltip' data-placement='top' data-original-title='<%= @team.name %> is already your favorite team!'>
            <%= fa_icon 'heart' %>
          </button>
        <% else %>
          <button type="button" class="btn btn-default" id="setFavorite"
            data-toggle='tooltip' data-placement='top' data-original-title='<%= @team.name %> is already your favorite team!'>
            <%= fa_icon 'heart-o' %>
          </button>
        <% end %>

        <button type="button" class="btn btn-default fav-tooltip" data-toggle='tooltip'
          data-placement='top' data-original-title='Your projections include weeks <%= @team.league.week_updated %> - 16.'>
          <%= fa_icon 'calendar' %> Wk: <%= @team.league.week_updated %>-16
        </button>
      </div>
    </div>

    <h3 class="inlineHeader team-header">  <img class="favPhoto img-circle" src="<%= @team.icon_url %>"> <%= @team.name %> |</h3>
    <h4 class="inlineHeader team-header"> <%= @team.league.name %></h4>
  </div>

</div>

<div class="innerFavContainer">
  <table id="teamTable" class="table table-striped table-condensed" data-toggle="table" 
                                                                    data-sort-name="totalValue" 
                                                                    data-sort-order="desc">
    <thead>
      <tr>
        <th data-field="photo"><span style="display:none">Photo</span></th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="pos" data-sortable="true">Pos</th>
        <th data-field="team">Team</th>
        <th data-field="totalValue" data-sortable="true">Proj Pts</th>

        <% stat_order_arr = [] %>
        <% @team.league.stat_settings.each do |key, val| %>
          <% next if val[:roto_names].nil? %>
          <th data-field="<%= key %>" data-sortable="true"><%= key %></th>
          <% stat_order_arr.push(key) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @team.rotoplayer_arr.each_with_index do |roto_id, i| %>
        <% metadata = @team.player_metadata[roto_id] %>
        <tr id="tr-id-<%= i %>" class="tr-class-<%= i % 2 %>">
          <td><img class='playerPhoto img-circle' src='<%= metadata['photo'] %>'></td>
          <td id="td-id-<%= i %>" class="td-class-<%= i %>"><%= metadata['name'] %></td>
          <td data-field="pos"><%= metadata['position'] %></td>
          <td data-field="team"><%= metadata['team'] %></td>
          <td class="projPts" data-field="totalValue"><%= @team.league.player_stats[roto_id]['total'] %></td>

          <% stat_order_arr.each do |stat_id| %>
            <td><%= @team.league.player_stats[roto_id][stat_id] || '' %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
