<div class="page-header text-center">
  <div class="container-fluid">
    <div class="row about-header">
      <div class='col-sm-6 about-border-right'>
        <%= image_tag 'about_img_sm.png', class: "aboutimg img-circle" %>
        <h2>Connor McCann</h2>
        <h4>connor.j.mccann<%=fa_icon 'at'%>gmail</h4>
        <h5><a href="https://github.com/cjmccann">github.com/cjmccann</a></h5>
      </div>
      <div class='col-sm-6 colab-vert'>
          <p class='colab'>In collaboration with:</p>
          <%= image_tag 'roto-lg.png', class: "aboutimg-2" %>
          <br/>
          <h4>Fantasy analysis, sports news & live advice.</h4>
          <h5><a href="https://www.rotoballer.com">rotoballer.com</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='container-fluid text-center'>
  <div class='row'>
    <div class='col-sm-1'></div>
    <div class='col-sm-4'>
      <div class='text-center feedback-container'>
        <h4>What am I?</br></br></h4>
        <p class='about-p'>Trade First Aid is an open-source tool to provide Fantasy Football 
        users in-depth trade analysis customized to their league and settings.</p>
        <p class='about-p'>Developed by Connor McCann, in collaboration with Rotoballer.</p>
      </div>
    </div>
    <div class='col-sm-1'></div>
    <div class='col-sm-6 about-border-left'>
      <div class='text-center feedback-container'>
        <h4>Bugs? Suggestions? Feedback?</br></br></h4>
        Contact me: <br/>
        <strong>Email:</strong> connor.j.mccann<%=fa_icon 'at'%>gmail <br/>
        <strong>Twitter:</strong> <a href="https://twitter.com/The_McCannon">@the_mccannon</a> <br/>
      </div>
    </div>
  </div>
</div>

<hr/>

<div class='text-center'>
  <h4>Resources</h4>
</div>
<div class="about container-fluid text-center">
  <div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-2'>
    <a href="https://github.com/cjmccann/fantasy-football-trade-analyzer">
    <%= fa_stacked_icon "github inverse", base: "square", class: 'fa-3x' %>
    </a>
    <h5><a href="https://github.com/cjmccann/fantasy-football-trade-analyzer">Source</a></h5>
    </div>
    <div class='col-sm-2'>
    <a href="http://baseball-on-draft.herokuapp.com/">
    <%= fa_stacked_icon "baseball-on-draft", base: "square", class: 'fa-3x' %>
    </a>
    <h5><a href="http://baseball-on-draft.herokuapp.com/">Baseball-On-Draft</a></h5>
    </div>
    <div class='col-sm-2'>
    <a href="https://twitter.com/The_McCannon">
    <%= fa_stacked_icon "twitter inverse", base: "square", class: 'fa-3x' %>
    </a>
    <h5><a href="https://twitter.com/The_McCannon">@the_mccannon</a></h5>
    </div>
    <div class='col-sm-2'>
    <a href="https://www.linkedin.com/in/connor-j-mccann">
    <%= fa_stacked_icon "linkedin inverse", base: "square", class: 'fa-3x' %>
    </a>
    <h5><a href="https://www.linkedin.com/in/connor-j-mccann">Work Stuff</a></h5>
    </div>
    <div class='col-sm-2'></div>
  </div>
</div>
