<div class='standings' id='standings-header'>
  <hr/>
  <h3 class="centerheader">Projected Stats and Points (Rest of Season)</h3>
</div>
<div class='standings'>
  <div class='innerStandingsContainer'>
    <table id='standingsTable' class="table table-striped table-condensed" 
                               data-toggle="table" 
                               data-sort-name="total" 
                               data-sort-order='desc'
                               data-unique-id='name'
                               data-show-footer='true'>
      <thead>
        <tr>
          <th data-formatter="rankFormatter"></th>
          <th data-width="22" data-formatter="teamPicFormatter"></th>
          <th data-field="name" data-formatter="standingsNameFormatter" data-footer-formatter="formatDeltaLabel">Name</th>
          <th data-class='delimiter-right' data-field="total" data-formatter="teamProjPtsFormatter" data-sortable="false" data-footer-formatter="formatDeltas">Proj Pts</th>

          <% read_only_stats = [] %>
          <% index = 4 %>
          <% stat_order_map = { 'total' => index - 1 } %>

          <% League.stat_order.each do |stat_obj| %>
            <% stat_obj.each do |stat_id, stat_meta| %>
              <% next if @league.stat_settings[stat_id].nil? %>

              <th data-field="<%= stat_id %>" data-class='<%= 'delimiter-right' if stat_meta['delimiter_right'] %>' data-footer-formatter="formatDeltas">
                <%= stat_id %>
              </th>

              <% stat_order_map[stat_id] = index %>
              <% index += 1 %>
            <% end %>
          <% end %>
        </tr>
      </thead>
    </table>

    <div id='standingsTableData' data-stat-order='<%= stat_order_map.to_json %>' data-negative-stats='<%= @league.get_negative_stats %>'
                                 data-team-stats='<%= @league.team_stats.to_json %>'>
    </div>
  </div>
</div>
