<div class='innerStandingsContainer'>
  <table id='standingsTable' class="table table-striped table-condensed" data-toggle="table" data-sort-name="total" data-sort-order='desc'>
    <thead>
      <tr>
        <th data-field="name">Name</th>
        <th data-field="total" data-sortable="false">Total Pts</th>

        <% read_only_stats = [] %>
        <% stat_order_map = { 'total' => 1 } %>
        <% index = 2 %>
        <% @league.stat_settings.each do |key, val| %>
          <% next if val[:roto_names].nil? %>
          <% if val[:is_display_stat] %>
            <% read_only_stats.push(key) %>
            <% next %>
          <% end %>
          <th data-field="<%= key %>"><%= key %></th>
          <% stat_order_map[key] = index %>
          <% index += 1 %>
        <% end %>

        <% read_only_stats.each do |key| %>
          <% val = @league.stat_settings[key] %>
          <th data-field="<%= key %>" data-display-only="true"><%= key %></th>
          <% stat_order_map[key] = index %>
          <% index += 1 %>
        <% end %>
      </tr>
    </thead>
  </table>

  <div id='standingsTableData' data-stat-order='<%= stat_order_map.to_json %>'></div>
</div>
