<div class='innerStandingsContainer'>
  <table id='standingsTable' class="table table-striped table-condensed" 
                             data-toggle="table" 
                             data-sort-name="total" 
                             data-sort-order='desc'
                             data-unique-id='name'
                             data-show-footer='true'
                             data-height="300">
    <thead>
      <tr>
        <th data-formatter="rankFormatter"></th>
        <th data-formatter="teamPicFormatter"></th>
        <th data-field="name" data-formatter="standingsNameFormatter" data-footer-formatter="formatDeltaLabel">Name</th>
        <th data-field="total" data-sortable="false" data-footer-formatter="formatDeltas">Projected Pts</th>

        <% read_only_stats = [] %>
        <% index = 4 %>
        <% stat_order_map = { 'total' => index - 1 } %>
        <% @league.stat_settings.each do |key, val| %>
          <% next if val[:roto_names].nil? %>
          <% if val[:is_display_stat] %>
            <% read_only_stats.push(key) %>
            <% next %>
          <% end %>
          <th data-field="<%= key %>" data-footer-formatter="formatDeltas"><%= key %></th>
          <% stat_order_map[key] = index %>
          <% index += 1 %>
        <% end %>

        <% read_only_stats.each do |key| %>
          <% val = @league.stat_settings[key] %>
          <th data-field="<%= key %>" data-footer-formatter="formatDeltas" data-display-only="true"><%= key %></th>
          <% stat_order_map[key] = index %>
          <% index += 1 %>
        <% end %>
      </tr>
    </thead>
  </table>

  <div id='standingsTableData' data-stat-order='<%= stat_order_map.to_json %>'
                               data-team-stats='<%= @league.team_stats.to_json %>'>
  </div>
</div>
