<div class='innerTeamContainer'>
  <table class="table table-striped table-condensed tradeteam" data-toggle="table" >
    <thead>
      <tr>
        <th></th>
        <th data-field="name" data-sortable="true">Name</th>
        <th data-field="pos">Pos</th>

        <% stat_order_arr = [] %>
        <% @league.stat_settings.each do |key, val| %>
          <% next if val[:roto_names].nil? %>
          <th data-field="<%= key %>" data-sortable="true"><%= val[:display_name] %></th>
          <% stat_order_arr.push(val[:name]) %>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% rotoplayers = RotoPlayerProjection.where( 'PlayerID' => @cur_team.rotoplayer_arr, 'Season' => 2017 ) %>
      <% rotoplayers.each_with_index do |rotoplayer, i| %>
        <tr data-index="<%= i %>" data-player-id='<%= rotoplayer.PlayerID %>' data-team-id='<%= @cur_team.id %>'>
          <td class='playerToggle'>
            <%= fa_icon 'square-o', { 'data-player-id' => rotoplayer.PlayerID } %>
            <%= fa_icon 'check-square-o', { 'data-player-id' => rotoplayer.PlayerID, 'style' => 'display:none;' } %>
          </td>
          <td data-field="name"><%= rotoplayer.Name %></td>
          <td data-field="pos"><%= rotoplayer.Position %></td>

          <% stat_order_arr.each do |stat_id| %>
            <% next if League.yahoo_mappings[stat_id].nil? %>
            <td><%= League.yahoo_mappings[stat_id].reduce(0) { |base, roto_key| base += rotoplayer[roto_key] } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
