<div class='innerTeamContainer'>
  <table class="table table-striped table-condensed teamtable" id="<%= @cur_team == @my_team ? 'my-team' : 'other-team'%>" data-toggle="table" data-sort-name="totalValue" data-sort-order="desc" data-row-style='benchStyle'>
    <thead>
      <tr>
        <% if @cur_team != @my_team %>
          <th class='search-icon' data-field='cb'>
            <%= fa_icon 'search' %>
            <input type="text" id="search" placeholder='Search for players'>
            <%= fa_icon 'close', class: 'search-close' %>
          </th>
        <% else %>
          <th data-field='cb'></th>
        <% end %>
        <th data-field='pic'>
        </th>
        <th data-field="name" class='name-cell'>
          Name
        </th>
        <th data-field="pos" data-sortable="true">Pos</th>
        <th data-field="team">Tm</th>
        <th data-field="totalValue" data-sortable="true">Proj Pts</th>
        <th data-field="bye">Bye</th>
      </tr>
    </thead>
    <tbody>
      <% @cur_team.player_metadata.each do |roto_id, metadata| %>
        <tr data-player-id='<%= roto_id %>' data-team-name='<%= @cur_team.name %>' class=''>
          <td class='playerToggle' data-field='cb'>
            <%= fa_icon 'square-o', { 'data-player-id' => roto_id } %>
            <%= fa_icon 'check-square-o', { 'data-player-id' => roto_id, 'style' => 'display:none;' } %>
          </td>
          <td class="photo" data-field="pic"><img class="player img-circle" src="<%= metadata['photo'] %>" ></td>
          <td data-field="name"><%= metadata['name'] %></td>
          <td data-field="pos" data-player-pos='<%= "pos-#{roto_id}"%>'>
            <% if metadata['benched'] %>
              <%= metadata['position'] + ' (BN)' %>
            <% elsif metadata['flex'] %>
              <%= metadata['flex_pos'] %>
            <% else %>
              <%= metadata['position'] %>
            <% end %>
          </td>
          <td data-field="team"><%= metadata['team'] %></td>
          <td class="projPts" data-field="totalValue"><%= @cur_team.league.player_stats[roto_id] && @cur_team.league.player_stats[roto_id]['total'] ? @cur_team.league.player_stats[roto_id]['total'] : 0.0  %></td>
          <td data-field="bye"><%= metadata['bye_week'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @cur_team != @my_team %>
    <div class='overlay'></div>
  <% end %>
</div>
