<% content_for :head do %>
    <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div id='tradeContainer'>
  <div id='sidebar'>
    <%= render 'sidebar' %>
  </div>
  <div id='teamContainer'>
    <div id='teams'>
      <div class='team left'>
        <% @cur_team = @my_team %>
        <%= render 'team_header' %>
        <%= render 'team_table' %>
      </div>
      <div class='team right'>
        <% @cur_team = @other_team %>
        <%= render 'team_header' %>
        <%= render 'team_table' %>
      </div>
    </div>
    <%= render 'standings_table' %>
  </div>
</div>

<div id="dataContainer">
  <div id='tradeData' 
            data-my-team='<%= @my_team.name %>' 
            data-my-team-id='<%= @my_team.id %>'
            data-other-team='<%= @other_team.name %>'
            data-other-team-id='<%= @other_team.id %>'
            data-given-player-vals='[]'
            data-received-player-vals='[]'
            data-player-stats='<%= @league.player_stats.to_json %>'
            data-search='<%= @league.get_players_by_team.to_json %>'
            data-traded-players='<%= @traded_players.to_json %>'
            data-added-player='<%= @added_player.to_json %>'>
  </div>
</div>
