<div id='tradeContainer'>
  <div id='teamContainer'>
    <h2 class="centerheader">Create a Trade</h2>
    <div class='team left'>
      <h3 class="centerheader">My Team</h3>
      <% @cur_team = @my_team %>
      <%= render 'team_table' %>
    </div>
    <div class='team right'>
      <h3 class="centerheader">Other Team</h3>
      <% @cur_team = @other_teams.first %>
      <%= render 'team_table' %>
    </div>
  </div>
  <div class='sidebar'>
    <%= render 'sidebar' %>
  </div>

  <div id='standings'>
    <h2 class="centerheader">Team Standings + Trade Effects</h3>
  </div>
</div>

<div id='tradeData' 
          data-my-team='<%= @my_team.id %>' 
          data-other-team='<%= @other_teams.first.id %>'
          data-teams='<%= @league.team_id_map.to_json %>'
          data-stats='<%= @league.stats.to_json %>'>
</div>
