<!DOCTYPE html>
<html>
  <head>
    <title>Trade First Aid</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag 'plus-circle-favicon.png' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600' rel='stylesheet' type='text/css' data-turbolinks-track="true"> 
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:head) %>
        <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <%= bootstrap_flash %>

    <div class="stateIndicatorContainer">
      <div class="stateIndicator busyIndicator bg-info">
        <%= fa_icon 'cog', :class => "fa fa-cog fa-spin fa-2x fa-fw stateIcon" %>
        Updating rosters...
      </div>

      <div class="stateIndicator successIndicator bg-success">
        <%= fa_icon 'check-circle-o', :class => "fa fa-check-circle-o fa-2x fa-fw stateIcon" %>
        Rosters updated!
      </div>

      <div class="stateIndicator dangerIndicator bg-danger">
        <%= fa_icon 'warning', :class => "fa fa-warning fa-2x fa-fw stateIcon" %>
        Failed to update rosters. Try again later.
      </div>
    </div>

    <%= yield %>
  </body>
</html>
